.header {
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12),
    0 1.5px 4px 0 rgba(83, 181, 230, 0.15);
  z-index: 10;
  position: relative;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.85rem;
  font-weight: bold;
  color: #242424;
  text-align: center;
  border-radius: 8px;
}

.emptyMessage {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #fff;
}

@media (max-width: 768px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: 0.8rem;
      font-size: 1.5rem;
    }
  }
}
