.selectLineForm {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.selectLineSelect {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  background: #bdbdbd;
  color: #2c2b2b;
}

.selectorContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}


