.resultInfo {

  color: #1976d2;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
  word-break: break-word;
}

.resultInfoErro {
  background: #ffebee;
  color: #c62828;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
  word-break: break-word;
}